<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{course.course_name}}</title>

</head>
<body>

<div class="container">
    <h1 class="my-4">{{course.course_name}} ({{course.course_code}})</h1>
    
    <h3>Course Details</h3>
    <p><strong>Description:</strong> {{course.description}}</p>

    <h4>List of Enrollees</h4>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Student Code</th>
                <th>Student Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {{#enrollees}}
            <tr>
                <td>{{student_code}}</td>
                <td>{{first_name}} {{last_name}}</td>
                <td>{{email}}</td>
            </tr>
            {{/enrollees}}
        </tbody>
    </table>

    <div class="text-center mt-4">
        <a href="/courses" class="btn btn-success">Back to Course List</a>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
